air_reseのテーブルをチェックする  
アブストラクトは下記に書き留める

In [1]:
import pandas as pd
import numpy as np

In [ ]:
pd.read_csv

In [4]:
air_rese_df=pd.read_csv('../data/air_reserve.csv')

In [7]:
air_rese_df.dtypes

air_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors     int64
dtype: object

In [8]:
air_rese_df.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [11]:
air_rese_df['visit_datetime']=pd.to_datetime(air_rese_df['visit_datetime'])
air_rese_df['reserve_datetime']=pd.to_datetime(air_rese_df['reserve_datetime'])

In [13]:
air_rese_df.describe(include='all')

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
count,92378,92378,92378,92378.000000
unique,314,4975,7513,NaN
top,air_8093d0b565e9dbdf,2016-12-24 19:00:00,2016-11-24 18:00:00,NaN
freq,2263,255,106,NaN
first,NaN,2016-01-01 19:00:00,2016-01-01 01:00:00,NaN
last,NaN,2017-05-31 21:00:00,2017-04-22 23:00:00,NaN
mean,NaN,NaN,NaN,4.481749
std,NaN,NaN,NaN,4.919669
min,NaN,NaN,NaN,1.000000
25%,NaN,NaN,NaN,2.000000
50%,NaN,NaN,NaN,3.000000
75%,NaN,NaN,NaN,5.000000
max,NaN,NaN,NaN,100.000000

In [16]:
air_rese_df.isnull().all()

air_store_id        False
visit_datetime      False
reserve_datetime    False
reserve_visitors    False
dtype: bool

In [ ]:
df = air_rese_df.sort_values()