# テストデータのCSVファイル作成
## sample_submissionとそろえる場合には最初の2列を削除してください。
## 39日×821店舗＝32,019行

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
air_visit_data = pd.read_csv('../data/air_visit_data.csv',parse_dates=['visit_date'])
sample_submission=pd.read_csv('../data/sample_submission.csv')

In [3]:
visitors_by_date=air_visit_data.groupby('visit_date')['visitors'].sum()

In [3]:
sample_submission['air_store_id']=sample_submission['id'].str[:-11]
temp_sample=sample_submission.groupby('air_store_id').count()
temp_sample.reset_index(inplace=True)

In [5]:
air_visit_data_critical=air_visit_data[air_visit_data['air_store_id'].isin(temp_sample['air_store_id'])]

In [6]:
air_visit_data_critical.shape

(250468, 3)

In [7]:
test_data=air_visit_data_critical[(air_visit_data_critical['visit_date']>='2017-03-15')&(air_visit_data_critical['visit_date']<='2017-04-22')]

In [8]:
test_data.describe(include='all')

                air_store_id           visit_date      visitors
count                  27980                27980  27980.000000
unique                   821                   39           NaN
top     air_8e4360a64dbd4c50  2017-03-17 00:00:00           NaN
freq                      39                  795           NaN
first                    NaN  2017-03-15 00:00:00           NaN
last                     NaN  2017-04-22 00:00:00           NaN
mean                     NaN                  NaN     22.177984
std                      NaN                  NaN     18.392828
min                      NaN                  NaN      1.000000
25%                      NaN                  NaN      9.000000
50%                      NaN                  NaN     18.000000
75%                      NaN                  NaN     31.000000
max                      NaN                  NaN    777.000000

In [9]:
821*39

32019

In [10]:
data_info=pd.read_csv('../data/date_info.csv', parse_dates=['calendar_date'])

In [11]:
temp_data_info=data_info[(data_info['calendar_date']>='2017-03-15')&(data_info['calendar_date']<='2017-04-22')]

In [14]:
temp_data_info.shape

(39, 3)

In [15]:
temp_data_info.rename(columns={'calendar_date':'visit_date'}, inplace=True)

C:\Users\keisuke_ida\Miniconda3\envs\recruit_py36\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [16]:
temp=test_data.groupby('air_store_id').count()
temp.reset_index(inplace=True)

In [17]:
temp_data_info['key']=1
temp['key']=1

C:\Users\keisuke_ida\Miniconda3\envs\recruit_py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
temp4=pd.merge(temp_data_info, temp, on='key')
test_data_temp=temp4.ix[:, ('visit_date_x', 'air_store_id')].sort_values(['air_store_id', 'visit_date_x'])

C:\Users\keisuke_ida\Miniconda3\envs\recruit_py36\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [34]:
test_data_temp['visit_date']=test_data_temp['visit_date_x']
test_data_temp.drop(columns='visit_date_x', inplace=True)
test_data_temp['id']=test_data_temp['air_store_id']+'_'+test_data_temp['visit_date'].astype(str)
test_data_temp_2=test_data_temp.reset_index().drop(columns='index')

In [36]:
test_data=pd.merge(test_data_temp_2, test_data, how='left', on=['air_store_id','visit_date'])

In [39]:
test_data.sort_values(['air_store_id','visit_date']).to_csv('../data/test_data.csv',index=False)